{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE | Gestion des membres{% endblock %}

{% block body %}
    <h1>BACKOFFICE | Gestion des membres</h1>

    {% include "shared/_flash.html.twig" %}

    <a href="{{ path('app_admin_user_create') }}" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Ajouter un membre</a>

    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse électronique</th>
                <th>Civilité</th>
                <th>Statut</th>
                <th>Date d'enregistrement</th>
                <th colspan="2">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.gender == 'm' ? 'Homme' : 'Femme' }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge text-bg-{{ role == 'ROLE_USER' ? 'success' : 'primary' }}">{{ role == 'ROLE_ADMIN' ? 'Admin' : 'Membre' }}</span>
                    {% endfor %}
                </td>
                <td>{{ user.registeredAt|date('d/m/Y à H:i:s') }}</td>
                <td>
                    <a href="{{ path('app_admin_user_update', {'id': user.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td>
                    {{ include('shared/_delete_form.html.twig', {
                        route: "app_admin_user_delete",
                        name: "ce membre",
                        data: user
                    }) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Il n'y a actuellement aucun utilisateur.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
