{% extends "base.html.twig" %}

{% block title %}
    Réserver un véhicule
{% endblock %}

{% block body %}
    <h1 class="text-center mb-3">Réserver un véhicule</h1>

    <div class="row d-flex align-items-start justify-content-around gap-4">
        <div class="card mb-4 col-md-5" style="width: 24rem;">
            <img src="{{ asset('images/vehicles/' ~ vehicle.image) }}" alt="{{ vehicle.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ vehicle.title }}</h5>
                <p class="card-text">{{ vehicle.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Marque : {{ vehicle.title }}</li>
                <li class="list-group-item">Modèle : {{ vehicle.model }}</li>
                <li class="list-group-item">Prix journalier : {{ vehicle.dailyPrice|number_format(2, ',', ' ') }} €</li>
            </ul>
        </div>

        {% include "shared/_form.html.twig" with {
            class: 'col-md-3',
            button_label: "Réserver"
        } %}

        <div class="card mb-3 col-md-3 text-center">
            <div class="card-header">
                Moyenne de prix
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Pour une semaine : ~ {{ (vehicle.dailyPrice * 7)|number_format(2, ',', ' ') }} €</li>
                <li class="list-group-item">Pour un mois : ~ {{ (vehicle.dailyPrice * 30)|number_format(2, ',', ' ') }} €</li>
                <li class="list-group-item">Pour un semestre : ~ {{ (vehicle.dailyPrice * 30 * 6)|number_format(2, ',', ' ') }} €</li>
                <li class="list-group-item">Pour un an : ~ {{ (vehicle.dailyPrice * 30 * 6 * 12)|number_format(2, ',', ' ') }} €</li>
            </ul>
        </div>
    </div>


{% endblock %}